django
Pillow 
pylint
pylint-django
django-bower
xlwt
xlrd
pandas
django-mathfilters
djangorestframework
psycopg2
django-manifest-loader
drf_extra_fields
django-cleanup
knox
django-rest-knox
django-pyodbc-azure